.navbar {
    background-color: black !important; 
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: white; 
}

.navbar-toggler {
    border: 2px solid red; 
    transition: 0.3s ease; 
}

.navbar-toggler:hover {
    background-color: red; 
}


.offcanvas {
    background-color: black; 
}


.offcanvas-title {
    color: white; 
    font-weight: bold;
}


.offcanvas-body .nav-link {
    border: 1px solid transparent; 
    color: white;
    padding: 10px 15px;
    transition: all 0.3s ease;
}


.offcanvas-body .nav-link:hover {
    background-color: red;
    color: black;
    border-color: red;
}


.offcanvas-body .nav-link.disabled {
    color: #cccccc !important;
    cursor: default; 
}