.custom-hr {
    border: 10px solid rgb(240, 11, 11);
    margin: 20px 0;
  }
  
  
  .footer-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
  }
  