<div class="container mt-4 content-above-header">
    <h2 class="text-center mb-4">Catálogo de Vehículos</h2>

    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let vehiculo of vehiculo">
            <div class="card h-100">
                <img [src]="vehiculo.ImagenPrincipal || 'assets/img/placeholder.png'" class="card-img-top" alt="Imagen del Vehículo">
                <div class="card-body">
                    <h5 class="card-title">{{ vehiculo.Marca }} {{ vehiculo.Modelo }}</h5>
                    <p class="card-text"><strong>Año:</strong> {{ vehiculo.Ano }}</p>
                    <p class="card-text"><strong>Tipo:</strong> {{ vehiculo.Tipo }}</p>
                    <p class="card-text"><strong>Kilometraje:</strong> {{ vehiculo.Kilometraje }} km</p>
                    <button class="btn btn-primary" (click)="verDetalles(vehiculo)">Ver Detalles</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="vehiculoDetalleModal" tabindex="-1" aria-labelledby="vehiculoDetalleModalLabel" aria-hidden="true" #vehiculoDetalleModal>
    <div class="modal-dialog modal-lg"> <div class="modal-content">
            <app-detalle-vehiculo-modal 
                [vehiculoDetalle]="vehiculoSeleccionado" 
                (cerrarModal)="cerrarDetalles()">
            </app-detalle-vehiculo-modal>
        </div>
    </div>
</div>